.header{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.top-navbar{
    background-color:#A294F9;
}
.logo img {
    height:130px;
    width:90px;
}
.nav-links{
    float:left;
}
.nav-links a{
    color:white
}
.nav-links a:hover{
   color:#E5D9F2;
}
