body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5EFFF; /* Light purple background */
    color: #333; /* Dark gray for text */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto; /* Center the container */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #A294F9; /* Primary purple */
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #EFD9F2; /* Light pink border */
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #A294F9; /* Primary purple */
    color: white;
}

tr:nth-child(even) {
    background-color: #F9F9F9; /* Light gray for even rows */
}

tr:hover {
    background-color: #EFD9F2; /* Light pink on hover */
}

img {
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

select {
    padding: 5px 10px;
    border: 1px solid #CDC1FF; /* Light purple border */
    border-radius: 5px;
    background-color: #EFD9F2; /* Light pink background */
    color: #333; /* Dark gray text */
    cursor: pointer;
    font-size: 1rem;
}

 .no-item {
        text-align: center;
        color: gray;
        font-size: 18px;
        margin-top: 20px;
    }

select:hover {
    border-color: #A294F9; /* Primary purple */
    background-color: #CDC1FF;
}

.btn-danger {
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: #A294F9; /* Primary purple */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #6B5DFB; /* Darker purple on hover */
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    th, td {
        padding: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }
}